---
layout: default
title: Home
group: index
---

<p class="mx-auto text-center" style="margin-top: 0.5rem"><a href="https://i.redd.it/w7r7smwfz02a1.jpg"><img class="img-fluid" style="max-height: 200px;" src="https://i.redd.it/w7r7smwfz02a1.jpg" alt="Comic strip; alt text follows the image below."></a></p>

<p style="text-align: right; margin-bottom:1rem; font-size: 0.95rem;"><a data-bs-toggle="collapse" href="#comic" role="button" aria-expanded="false" aria-controls="comic">alt text</a> | credit: Bill Watterson </a></p>
<div class="collapse" id="comic">
  <div class="card card-body">
    <p><em><em>Calvin and Hobbes</em> comic strip, from left to right</em>: Calvin complaining to his dad: “I refuse to take out the garbage! I have the right to do whatever I want, all the time!” Next frame: Dad: “No you don’t.” Calvin, surprised: “I Don’t?” Next and last frame: Calvin, taking the trash out, in anger: “Well, it sure <em>ought</em> to be a right.”</p>
  </div>
</div>

<h1 style="margin-bottom: 0.875rem;">Welcome to {{ site.course_number }}: {{ site.course_title | smartify }}!</h1>

<p>{{ site.institution | smartify }}, {{ site.semester | smartify }}<br />
{{ site.meeting_time }}, {{ site.classroom | smartify }}, <a href="{{ site.learning_site }}">CourseWorks</a></p>

{% if site.ta_title %}
<div class="row no-gutters gx-0 mb-1">
  <div class="col-12">
{% endif %}
    <script language="JavaScript" type="text/javascript">
      var g = "edu";
      var o = "barnard";
      var c = ".";
      var a = "dding";
      var t = " ";
      var s = "@";
      document.write("<p><strong>Instructor</strong>: <a href='{{ site.instructor_website }}' target='_blank'>{{ site.instructor | smartify }}</a> (they/she)<br /><strong>Email</strong>:" + t + "<a href='" + "mail" + "to:" + a + s + o + c + g + "'>" + a + s + o + c + g + "</a><br /><strong>Office</strong>: {{ site.office }}<br /><strong>Office hours</strong>: {{ site.office_hours }}<br />" + "</p>");
    </script>
    <noscript><p><strong>Instructor</strong>: <a href='{{ site.instructor_website }}' target='_blank'>{{ site.instructor | smartify }}</a> (they/she)<br /><strong>Email</strong>:[you must enable JavaScript in your web browser to view the email address]<br /><strong>Office</strong>: {{ site.office }}<br /><strong>Office hours</strong>: {{ site.office_hours }}<br /></p></noscript>
  </div>
{% if site.ta_title %}
  <div class="col-12">
    <script language="JavaScript" type="text/javascript">
      var g = "edu";
      var o = "columbia";
      var c = ".";
      var i = "{{ site.ta1_netid }}";
      var t = " ";
      var s = "@";
      document.write("<p><strong>{{ site.ta_title }}</strong>: {{ site.ta1_name | smartify }}<br /><strong>Email</strong>:" + t + "<a href='" + "mail" + "to:" + i + s + o + c + g + "'>" + i + s + o + c + g + "</a><br /><strong>Office</strong>: {{ site.ta1_office }}<br /><strong>Office hours</strong>: {{ site.ta1_office_hours }}<br />" + "</p>");
    </script>
    <noscript><p><strong>{{ site.ta_title }}</strong>: {{ site.ta1_name | smartify }}<br /><strong>Email</strong>:[you must enable JavaScript in your web browser to view the email address]<br /><strong>Office</strong>: {{ site.ta1_office }}<br /><strong>Office hours</strong>: {{ site.ta1_office_hours }}<br /></p></noscript>
  </div>
{% endif %}

<p align="center"><strong><a href="{{ site.baseurl }}{% link announcements.html %}">announcements</a></strong> &#124; <strong><a href="{{ site.baseurl }}{% link syllabus.md %}">syllabus</a></strong> &#124; <strong><a href="{{ site.baseurl }}{% link course-policies.md %}">policies</a></strong> &#124; <strong><a href="{{ site.baseurl }}{% link schedule.html %}">schedule</a></strong> &#124; <strong><a href="{{ site.baseurl }}{% link handouts.html %}">handouts</a></strong></p>