{%- assign sorted_pages = site.pages | sort: "order" -%}
{%- for node in sorted_pages -%}
  {%- if group == node.group -%}
    {%- if page.url == node.url %}
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ node.url | relative_url }}">{{ node.title }}
              <span class="visually-hidden">(current)</span>
              </a>
            </li>
    {%- else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ node.url | relative_url }}">{{ node.title }}</a>
            </li>
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}
{%- assign pages_list = nil -%}
{%- assign group = nil -%}