<script language="JavaScript" type="text/javascript">
      var g = "edu";
      var o = "barnard";
      var c = ".";
      var b = "smf2237";
      var bb = "aza2117";
      var bbb = "lmh2249"
      var t = " ";
      var s = "@";
      document.write("<ul>" + "<li>Sydni Faragalli (Co–Head Fellow)," + t + "<a href='" + "mail" + "to:" + b + s + o + c + g + "'>" + b + s + o + c + g + "</a></li>" + "<li>Annika Aumentado (Co–Head Fellow)," + t + "<a href='" + "mail" + "to:" + bb + s + o + c + g + "'>" + bb + s + o + c + g + "</a></li>" + "<li>Leslie Herreros," + t + "<a href='" + "mail" + "to:" + bbb + s + o + c + g + "'>" + bbb + s + o + c + g + "</a></li>" + "</ul>");
    </script>
    <noscript>
        <ul>
            <li>Sydni Faragalli (Co–Head Fellow), [you must enable JavaScript in your web browser to view the email address]</li>
            <li>Annika Aumentado (Co–Head Fellow), [you must enable JavaScript in your web browser to view the email address]</li>
            <li>Leslie Herreros, [you must enable JavaScript in your web browser to view the email address]</li>
        </ul>
    </noscript>